header{
    padding: 10px 20px;
    background: transparent;
    position: fixed;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 75px;
    transition: .5s ease-in-out;
  }
  
  header  .logo {
    display: flex;
    align-items: center;
  }
  
  header .logo a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin-left: 10px }
  nav.navbar{
    display: flex;
    /* align-items: center; */
    justify-content: end; 
    padding: 0 40px;
    height: 100%;
  }
  
  header ul.nav-menu{
    display: flex;
    align-items: center;
    height: 96%;

  }
  
  header ul.nav-menu li{
    list-style: none;
    height: 100%;
    display: flex;
    align-items: center;
    margin: 0px 10px;
  }
  
  header ul.nav-menu li a{
    text-decoration: none;
    color: #fff;
    transition: 0.5s ease;
    padding: 1px 15px;
    font-weight: 600;
    text-shadow: 0 1px #000;
  }
  
  header ul.nav-menu li a:hover,
  .active1{
   border-bottom: 4px solid var(--cor2);
  }
  
  header .hamburger{
    display: none;
    cursor: pointer;
  }
  header .bar{
    display: block;
    width: 28px;
    height: 3px;
    border-radius: 2px;
    margin: 5px auto;
    background: var(--cor3);
    transition: all o.3s ease-in-out;
  }
  header.rolagem{
    background-color: #fff;
    transition: .5s ease-in-out;
    padding: 5px 20px;
    box-shadow: 0 0.5px 0.5px 0.5px #918e8e5e;

}
header.rolagem ul.nav-menu li a{
  color: #000;
  text-shadow: none;
}
header.rolagem .logo a{
    color: #000;
}
  
div.botoes {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
} 

div.botoes button {
  background-color: var(--corAzul2);
  border: none;
  border-radius: 20px;
  color: #fff;
  cursor: pointer;
  transition: .3s ease-in-out;
  height: 35px
}

div.botoes button:hover {
  background-color: var(--corVerde);
}

div.botoes button a {
  color: #fff;
  font-weight: 600;
  padding: 30px 30px;
}

  /*
  -----------------------------Responsividade----------------------------
  */
  
  
  
  @media (max-width:767px){
    header{
      background-color: #fff;
      padding: 0;
    }
    header .logo a h1{
      color: #000;
    }
    header .bar{
        background-color: var(--corAzul1);
    }
  
    header .hamburger{
        display: block;
    }
    header .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    header .hamburger.active .bar:nth-child(1){
       transform: translateY(8px) rotate(45deg);
    }
    header  .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
     }
  
    header ul.nav-menu li {
        margin: 0px;
        padding: 0px;
    }
    header ul.nav-menu li a{
        padding: 3px;
        width: 100%;
        text-shadow: none;
        color: #000;
        font-weight: normal;
    }
    header ul.nav-menu li a:hover,
    .active1{
     background-color: transparent;
     border-bottom: 2px solid var(--cor2);
    }
    header ul.nav-menu{
        height: 170px;
        position: fixed;
        left: -100%;
        top: 75px;
        border-radius: 0 0 20px 20px;
        text-align: center;
        flex-direction: column;
        width: 100%;
        transition: 0.3s;
        background: #fff;
        box-shadow: 0  1px #00000048;
     }
     header .nav-item{
        margin: 0px;
  
     }
     header .nav-menu.active{
        left: 0;
     }
    
  }
