*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: #ffffff;
}

header{
    background: transparent;
    position: fixed;
    z-index: 10;
    /* display: none; */
    width: 100%;
    height: 75px;
    transition: .5s ease-in-out;
  }
header .logo a h1{
    font-weight: normal;
}
  header nav .logo {
    display: flex;
    align-items: center;
  }
  
  header nav  .logo a{
    text-decoration: none;
    color: rgb(255, 255, 255);
  }
  nav.navbar{
    display: flex;
    /* align-items: center; */
    justify-content: space-between; 
    padding: 0 40px;
    height: 100%;
  }
  
  header ul.nav-menu{
    display: flex;
    align-items: center;
    height: 96%;

  }
  
  header ul.nav-menu li{
    list-style: none;
    height: 100%;
    display: flex;
    align-items: center;
    margin: 0px 10px;
   

  }
  
  header ul.nav-menu li a{
    text-decoration: none;
    color: #fff;
    transition: 0.5s ease;
    padding: 1px 15px;
    font-weight: normal;
    text-shadow: 0 1px #000;
    border-bottom: solid 4px transparent;
  }
  
  header ul.nav-menu li a:hover,
  .active1{
   border-bottom: 4px solid rgb(255, 255, 255) !important;
  }
  
  header .hamburger{
    display: none;
    cursor: pointer;
  }
  header .bar{
    display: block;
    width: 28px;
    height: 3px;
    border-radius: 2px;
    margin: 5px auto;
    background: var(--corbranca1);
    transition: all o.3s ease-in-out;
  }
  header.rolagem{
    background-color: #fff;
    transition: .5s ease-in-out;
    /* box-shadow: 0 0.5px 0.5px 0.5px #918e8e5e; */

}
header.rolagem ul.nav-menu li a{
  color: #000000;
  text-shadow: none;
}
header.rolagem ul.nav-menu li a:hover,
.active1{
 border-bottom: 4px solid rgb(60, 57, 236) !important;
}
header.rolagem  nav  .logo a{
    color: #000000;
}
  
  /*
  -----------------------------Responsividade----------------------------
  */
  
  
  
  @media (max-width:767px){
    header.rolagem ul.nav-menu li a{
        color: #000;
        text-shadow: none;
      }
      header.rolagem  nav  .logo a{
          color: #fff;
      }
    header{
      background-color: #fff !important;
    }
    header .logo a h1{
      color: #000;
    }
    header .bar{
        background-color: #000;
    }
  
    header .hamburger{
        display: block;
    }
    header .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    header .hamburger.active .bar:nth-child(1){
       transform: translateY(8px) rotate(45deg);
    }
    header  .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
     }
  
    header ul.nav-menu li {
        margin: 0px;
        padding: 0px;
    }
    header ul.nav-menu li a{
        padding: 1px;
        width: 100%;
        text-shadow: none;
        color: #000 ;
        font-weight: normal;
    }
    header ul.nav-menu li a:hover,
    .active1{
     background-color: transparent;
     border-bottom: 2px solid #0737bd !important;
    }
    header ul.nav-menu{
        height: 170px;
        position: fixed;
        left: -100%;
        top: 75px;
        border-radius: 0 0 20px 20px;
        text-align: center;
        flex-direction: column;
        width: 100%;
        transition: 0.3s;
        background: #fff;
        box-shadow: 0  1px #00000048;
     }
     header .nav-item{
        margin: 0px;
  
     }
     header .nav-menu.active{
        left: 0;
     }
    
  }

  div.botoes {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
  } 

  div.botoes button {
    background-color: #0594f3;
    border: none;
    padding: 10px 30px;
    border-radius: 20px;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    transition: .3s ease-in-out;
  }

  div.botoes button:hover {
    background-color: rgb(25, 214, 82);
  }

main{
    /* padding-top: 6%; */

}
main section#top{
    height: 100vh;
    width: 100%;
    background-color: #fff;
    background-image: url("../imagens/multi-uso/banner.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
main section#top h1{
    width: 100%;
    margin-bottom: 8px;
    text-align: center;
    color: rgb(5, 241, 123);
    font-weight: normal;
    font-size: 28px;
    font-style: faradila;
}
main section#top p{
    width: 70%;
    text-align: center;
    color: #fff;
    font-weight: normal;
    font-size: 19px;
}
/*fim da section top*/

main section#nossaHistoria{
    min-height: 100vh;
    width: 100%;
    background-color: #f7f7f3;
    display: flex;
    align-items: center;
}
main section#nossaHistoria aside{
    width: 50%;
    height: 100%;  
}
main section#nossaHistoria aside.left{
display: flex;
align-items: center;
justify-content: center;
}
main section#nossaHistoria aside.left div.imagem{
    width: 87%;
    height: 65%;
}
main section#nossaHistoria aside.left div.imagem img{
    width: 100%;
    height: 100%;
    border-radius: 25px;
}
main section#nossaHistoria aside.right{
    /* background-color: #999; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    /* align-items: center; */
}

main section#nossaHistoria aside.right div.top{
    background-color: rgb(5, 241, 123);
    width: 90%;
    height: 30%;
    border-radius: 25px;
    color: #fff;
    font-weight: normal;
    font-size: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin: 0 auto;
}
main section#nossaHistoria aside.right div.top div.logo{
    height: 150px;
    width: 150px;
    display: flex;
    align-items: center;
}
main section#nossaHistoria aside.right div.top div.logo img{
    height: 90%;
    width: 90%;
    border-radius: 50%;
}
main section#nossaHistoria aside.right div.conteudo{
    width: 90%;
    height: 30%;
     /* background-color: red; */
     margin: 0 auto;
}
main section#nossaHistoria aside.right div.conteudo h1{
    font-size: 1.5rem;
    font-weight: normal;
    margin-bottom: 8px;
}
main section#nossaHistoria aside.right div.conteudo p{
    font-size: 18px;
}
@media (max-width:780px) 
{
    main section#nossaHistoria{
       flex-direction: column;
       height: 100%;
    } 
    main section#nossaHistoria aside.left{
        width: 100%;
        margin-top: 10px;
    }
    main section#nossaHistoria aside.left div.imagem{
        width: 97%;
        height: 100%;
    }
    main section#nossaHistoria aside.left div.imagem img{
        width: 100%;
        height: 100%;
        border-radius: 25px;
    }
    main section#nossaHistoria aside.right{
        width: 100%;
        margin-top: 10px;
    }
    main section#nossaHistoria aside.right div.top{
        background-color: rgb(5, 241, 123);
        width: 99%;
        margin: 0 auto;
        padding: 30px 0;
      
    }
    main section#nossaHistoria aside.right div.top div.logo{
        display: none;
    }
    main section#nossaHistoria aside.right div.top h1{
        text-align: center;
        width: 100%;
        font-size: 2.5rem;
        font-weight: normal;
        margin-bottom: 8px;
    }
}
/*fim da secao nossa historia*/

main section#equipe{
    min-height: 100vh;
    width: 100%;
    margin: 30px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
main section#equipe h1#enq{
    width: 100%;
    text-align: center;
    font-weight: normal;
    font-size: 2rem;
    color: #000000;
    margin: 20px 0;
}
main section#equipe div.container{
    width: 90%;
    height: 100%;
    /* background-color: #504545; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}
main section#equipe div.container div.card{
    height: 420px;
    width: 320px;
    background-color: #fff;
}
main section#equipe div.container div.card div.imagem{
    height: 50%;
    width: 100%;
}
main section#equipe div.container div.card div.imagem img{
    height: 100%;
    width: 100%;
}
main section#equipe div.container div.card div.descricao{
    height: 40%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
main section#equipe div.container div.card div.descricao h1{
    font-weight: normal;
    margin-left: 20px;
}
main section#equipe div.container div.card div.descricao h3{
    font-size: 17px;
    color: rgb(21, 185, 103);
    font-weight: normal;
    margin: 8px 0px 8px 20px;
}
main section#equipe div.container div.card div.descricao p{
    margin: 0px 0px 8px 20px;
}
main section#equipe div.container div.card div.btn{
    height: 10%;
    width: 100%;
    text-align: center;
}
main section#equipe div.container div.card div.btn a{
    background-color: rgb(3, 194, 82);
    text-decoration: none;
    color: #fff;
    font-size: 17px;
    padding: 11px 50px;
    border-radius: 10px;
    margin: 20px auto;
}
/*fim da secao enquipe*/

main section#dados{
    min-height: 700px;
    height: 50%;
    width: 100%;
    display: flex;
    background-image: url("../imagens/multi-uso/banner2.jpg");
    align-items: center;
}
main section#dados aside{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
main section#dados aside.left{
    width: 40%;
}
main section#dados aside.left h1{
    color: rgb(19, 231, 107);
    font-weight: normal;
    font-size: 2rem;
    margin-left: 20px;
    margin-top: 40px;
}
main section#dados aside.left p{
    color:#fff;
    font-weight: normal;
    font-size: 18px;
    margin: 20px;
}
main section#dados aside.right{
    width: 60%;
    /* background-color: #fff; */
}
main section#dados aside.right div.container{
    width: 90%;
    height: 100%;
    margin: auto;
    display: flex;
    /* background-color: #6e2b2b; */
}

main section#dados aside.right div.container aside.containerRight, main section#dados aside.right div.container aside.containerLeft{
    width: 50%;
    height: 100%;
    margin: auto 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: #6e2b5a; */
}
main section#dados aside.right div.container aside div.cont{
    height: 190px;
    width: 100%;
    background-color: #5c59598a;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

main section#dados aside.right div.container aside div.cont h1{
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 26px;
    font-weight: normal;
}
main section#dados aside.right div.container aside div.cont span{
    color: #07cf72;
    font-size: 35px;
    font-weight: normal;
}
@media (max-width:780px) 
{
    main section#dados{
        display: flex;
        flex-direction: column;
        height: 100%;
        margin-top: 5%;
    }
    main section#dados aside.left{
        width: 100%;
        height: 100%;
        margin: 0;
    }
    main section#dados aside.right{
        width: 100%;
       
    }
    main section#dados aside.right div.container aside.containerRight, main section#dados aside.right div.container aside.containerLeft{
        width: 100%;
   
    }
    main section#dados aside.right div.container aside div.cont{
        width: 100%;
    }
    main section#dados aside.right div.container aside div.cont span{
        font-size: 2rem;
    }
    main section#dados aside.right div.container aside div.cont h1{
        width: 100%;
        font-size: 1.3rem;
        text-align: center;
    }
}
/*fim da secao dados*/

main section#projectos{
    margin-top: 3%;
    width: 100%;
    min-height: 700px;
    height: 50%;
    display: flex;
}
main section#projectos div.container{
    width: 100%;
}
main section#projectos div.container div.top{
    width: 70%;
    padding: 50px 0;
    border-radius: 10px;
    margin: auto;
    background-color: #07cf72;
}
main section#projectos div.container div.top h1{
    color: #fff;
    font-weight: normal;
    font-size: 2.5rem;
    width: 100%;
    text-align: center;
}
main section#projectos div.container div.cards{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    /* background-color: tomato; */
    margin-top: 3%;
}
main section#projectos div.container div.cards div.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 320px;
    height: 390px;
    background-color: #f8f6eb;
    background-size: cover;
    background-position: center;
    border-radius: 5px;
    cursor: pointer;
    transition: .3s;
}
main section#projectos div.container div.cards div.card:hover{
    background-color: #fff;
    border: solid 1px #046cce;
}
main section#projectos div.container div.cards div.card div.icone{
    height: 150px;
    width: 150px;
    margin-bottom: 10px;
    /* background-color: tomato; */
}
main section#projectos div.container div.cards div.card div.icone img{
    width: 100%;
    height: 100%;
}
main section#projectos div.container div.cards div.card div.descricao h1{
    width: 100%;
    text-align: center;
    margin-top: 10px;
    color: #046cce;
    font-weight: 600;
    font-size: 1.5rem;

}
main section#projectos div.container div.cards div.card div.descricao hr{
    width: 100%;
    margin: 5px auto;
}
@media (max-width:800px) 
{
    main section#projectos div.container div.top{
        width: 98%;
    }
    main section#projectos div.container div.top h1{
        color: #fff;
        font-weight: normal;
        font-size: 1.5rem;
        width: 100%;
        text-align: center;
    }
}
/*fim da secao projectos*/

main section#servicos{
    width: 100%;
    min-height: 700px;
    height: 100%;
    align-items: center;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

main section#servicos h1{
    width: 100%;
    text-align: center;
    font-size: 2rem;
    font-weight: normal;
    color: #07cf72;
    margin: 10px 0;
}

main section#servicos div.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

main section#servicos div.container aside.containerLeft{
    width: 50%;
    height: 625px;
    display: flex;
    justify-content: end;
}
main section#servicos div.container aside.containerLeft nav{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: end;

}
main section#servicos div.container aside.containerLeft nav ul{
    list-style: none;
    width: 80%;
    height: 100%;
    
}
main section#servicos div.container aside.containerLeft nav ul li{
    background-color: #046cce;
    height: 80px;
    width: 100%;
    text-align: left;
    display: flex;
    align-items: center;
    margin: 10px auto;
    padding: 0 3px;
    border-radius: 5px;
    justify-content: space-between;
    cursor: pointer;
}
main section#servicos div.container aside.containerLeft nav ul li i{
    color: #080808;
    font-size: 20px;
    font-weight: 600;
    height: 28px;
    width: 28px;
    margin-left: 10px;
}

main section#servicos div.container aside.containerLeft nav ul li img{
    height: 100%;
    width: 100%;
}
main section#servicos div.container aside.containerLeft nav ul li a{
    text-decoration: none;
    color: #050505;
    font-size: 18px;
    font-weight: 600;
    margin-left: 5px;
    color: #fff;
}
main section#servicos div.container aside.containerLeft nav ul li.ativo{
    background-color: #07cf72;
}
main section#servicos div.container aside.containerRight{
    display: flex;
    justify-content: center;
    width: 50%;
    height: 100%;

}

main section#servicos div.container aside.containerRight div.conteudo{
    height: 100%;
    width: 100%;
    display: none;
}
main section#servicos div.container aside.containerRight div.conteudo.ativo{
 display: block;
}

main section#servicos div.container aside.containerRight div.conteudo div.imagem{
    height: 370px;
    width: 90%;
    max-width: 700px;
    margin-top: 3%;
  
}
main section#servicos div.container aside.containerRight div.conteudo div.imagem img{
    height: 100%;
    width: 100%;
    border-radius: 5px;
    text-align: start;
}
main section#servicos div.container aside.containerRight div.conteudo div.descricao{
    height: 40%;
    width: 90%;
}
main section#servicos div.container aside.containerRight div.conteudo div.descricao h1{
    color: #000;
    width: 100%;
    text-align: left;
}
main section#servicos div.container aside.containerRight div.conteudo div.descricao p{
    color: #000;
    width: 100%;
    text-align: left;
    font-size: 17.5px;
}

@media (max-width:720px) {

    main section#servicos h1{
        margin-top:25%;
    }
    main section#servicos div.container{
        height: 100%;
        flex-direction: column;
 
    }
    main section#servicos div.container aside.containerLeft,main section#servicos div.container aside.containerLeft nav, main section#servicos div.container aside.containerLeft nav ul {
        width: 100%;
        height: 100%;
        justify-content: center;
    }
    main section#servicos div.container aside.containerRight{
        width: 100%;
        display: flex;
        justify-content: center;
        /* display: none; */
    }
    main section#servicos div.container aside.containerRight div.conteudo, main section#servicos div.container aside.containerRight div.conteudo div.imagem, main section#servicos div.container aside.containerRight div.conteudo div.descricao{
        width: 100%;
    }
    main section#servicos div.container aside.containerRight div.conteudo div.descricao p{
        margin-left: 10px;
    }
    main section#servicos div.container aside.containerRight div.conteudo div.descricao h1{
        text-align: center;
    }
}
/*fim da secao de servicos*/

main section#contactos{
    margin-top: 5%;
    min-height: 500px;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: rgba(68, 68, 68);
}
main section#contactos aside{
    height: 500px;
    width: 50%;
}
main section#contactos aside.left{
    height: 500px;
    width: 50%;
    margin-top: 4%;
}
main section#contactos aside.left h1{
    color: #fff;
    font-weight: normal;
    font-size: 1.5rem;
    margin: 20px 30px;
    width: 100%;
}
main section#contactos aside.left hr{
    width: 90%;
    margin: 9px 30px;
}
main section#contactos aside.left div.container div.top{
    margin-left: 30px;
    display: flex;
    width: 100%;
    justify-content: center;
}
main section#contactos aside.left div.container div.top div.texto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 20px;
}
main section#contactos aside.left div.container div.top div.texto h3{
 color: #fff;
 font-size: 22px;
}
main section#contactos aside.left div.container div.top div.texto p{
 color: #fff;
 font-size: 18px;
}
main section#contactos aside.left div.container div.top img{
    height: 85px;
    width: 85px;
    border-radius: 50%;
}

main section#contactos aside.left div.container div.bottom{
    /* background-color: green; */
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
main section#contactos aside.left div.container div.bottom h1{
    color: #fff;
    width: 100%;
    text-align: center;
}
main section#contactos aside.left div.container div.bottom ul{
    list-style: none;
    margin-left: 40px;
    display: flex;
    gap: 30px;
}
main section#contactos aside.left div.container div.bottom ul li img{
    height: 35px;
    width: 35px;
    background-color: #fff;
    padding: 5px;
    border-radius: 20%;
}

main section#contactos aside.left div.container div.bottom ul li{
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 5px 0;
    transition: .3s;
}
main section#contactos aside.left div.container div.bottom ul li a{
    color: #fff;
    background: none !important;
    text-decoration: none;
    transition: .3s;
}
main section#contactos aside.left div.container div.bottom ul li:hover a, main section#contactos aside.left div.container div.bottom ul li:hover img{
    color: #07cf72;
    background-color: #07cf72;
}
main section#contactos aside.right{
    height: 500px;
    width: 50%;
    margin-top: 5%;
}
main section#contactos aside.right h1{
    color: #fff;
    font-size: 2rem;
    margin: 10px 30px;
}
main section#contactos aside.right div.formulario form{
    width: 90%;
    margin: auto;
}
main section#contactos aside.right div.formulario form input{
  height: 60px;
  width: 90%;
  border: solid 0.5px #eee;
  border-radius: 10px;
  outline: none;
  padding: 0 10px;
  margin: 5px 0;
  font-size: 17px;
}
main section#contactos aside.right div.formulario form textarea{
    height: 100px;
    width: 90%;
    border-radius: 5px;
    border: solid 0.5px #eee;
    margin: 5px 0;
    padding: 10px 10px;
    outline: none;
    font-size: 17px;
}
main section#contactos aside.right div.formulario form div.button button{
    width: 90%;
    height: 50px;
    border-radius: 20px;
    border: none;
    color: #fff;
    font-size: 18px;
    background-color: #07cf72;
    cursor: pointer;
    transition: .3s;
}
main section#contactos aside.right div.formulario form div.button button:hover{
    border: solid 0.5px #046cce;
    background-color: #046cce;
}

@media (max-width:790px) 
{
    main section#contactos{
        flex-direction: column;
        align-items: center;
        margin: 0;
        padding: 5px 0;
        gap: 0px;

    }
    main section#contactos aside.left{
        width: 100%;
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
    }
    main section#contactos aside.left hr{
        width: 100%;
        text-align: center;
        margin: 10px auto;
        display: none;
    }
    main section#contactos aside.left div.container{
        width: 100%;

    }
    main section#contactos aside.left div.container div.top{
        width: 100%;
        margin: 0;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
    main section#contactos aside.left div.container div.bottom{
        width: 100%;
        margin: 0;
    }
    main section#contactos aside.left div.container div.bottom ul{
        width: 100%;
        margin: 0;
        justify-content: center;
    }
    main section#contactos aside.left div.container div.bottom ul li{
       width: 95%;
       padding: 5px 0;
       display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: center;
       background-color: rgb(0, 109, 252);
       border-radius: 5px;
       
    }
    main section#contactos aside.left div.container div.bottom ul div.left,main section#contactos aside.left div.container div.bottom ul div.right
    {
        display: flex; 
        flex-direction: column;
        justify-content: center;
        width: 50%;
        align-items: center;
    }
   
 
    main section#contactos aside.left h1{
        width: 100%;
        margin: 0;
    }
    main section#contactos aside.left div.container div.bottom h1{
        color: #020202;
       width: 100%;
       font-size: 2rem;
       text-align: center;
       margin: 20px 0;
    }
  
    main section#contactos aside.right{
        width: 100%;
    }
    main section#contactos aside.right div.formulario,main section#contactos aside.right div.formulario form{
        width: 100%;
        flex-direction: column;
        align-items: center;
        display: flex;
        justify-content: center;
    }

    main section#contactos aside.right div.formulario form div.inputs,main section#contactos aside.right div.formulario div.button{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}